<a href="https://colab.research.google.com/github/Katrin0915/MyTraining/blob/main/Basics_of_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание по теме "Основы Pandas"

## Задание 1
### Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0

In [2]:
import pandas as pd

In [3]:
ratings = pd.read_csv('D:\Блок_7_Numpy, Pandas\Практика\ml-latest-small\\ratings.csv')
ratings.head()

FileNotFoundError: ignored

In [ ]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [ ]:
ratings[ratings.rating == 5.0].head()

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931
6       1      101     5.0  964980868
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [ ]:
top_movie = ratings[ratings.rating == 5.0].groupby('movieId').count().sort_values('rating', ascending=False).head(1)

In [ ]:
movies = pd.read_csv('D:\Блок_7_Numpy, Pandas\Практика\ml-latest-small/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
joined = top_movie.merge(movies, on='movieId', how='left')
joined.head()

,movieId,userId,rating,timestamp,title,genres
0,318,153,153,153,"Shawshank Redemption, The (1994)",Crime|Drama

# #Задание 2
### По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [ ]:
data = pd.read_csv('D:\Блок_7_Numpy, Pandas\\02._power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [ ]:
pribaltica = data[ (data['country']=='Latvia') | (data['country']=='Estonia') | (data['country']=='Lithuania') ]
pribaltica.head()

       country  year  quantity  category
373  Lithuania  2014      39.0         1
374  Lithuania  2013     192.0         1
375  Lithuania  2012     196.0         1
376  Lithuania  2011     171.0         1
377  Lithuania  2010     158.0         1

In [ ]:
filtred_pribaltica = pribaltica[ (pribaltica['quantity'] > 0)  & 
                                ((pribaltica['category'] == 4) | (pribaltica['category'] == 12) | (pribaltica['category'] == 21)) 
                               & ((pribaltica['year'] >= 2005) | (pribaltica['year'] <= 2010)) ]
filtred_pribaltica.head()

       country  year  quantity  category
10617  Estonia  2008       1.0         4
10620  Estonia  2005       1.0         4
10621  Estonia  2004       1.0         4
10622  Estonia  2003       1.0         4
10624  Estonia  2001       1.0         4

In [ ]:
filtred_pribaltica['quantity'].sum()

970728.0

# # Задание 3
### Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_html('https://fortrader.org/currencyrates', encoding='utf-8')
df

[    Код  Количество                 Название       RUB  Изменение
 0   USD           1               Доллар США   76.1660    -0.4102
 1   EUR           1                     Евро   86.2656    -0.5795
 2   CNY           1           Китайский юань   11.9988    -0.0428
 3   GBP           1          Фунт стерлингов  103.2887    -0.1734
 4   TJS          10        Таджикский сомони   67.4931    -0.3635
 5   KZT         100      Казахстанский тенге   17.6945    -0.0705
 6   TRY          10            Турецкая лира   56.0238    -0.5188
 7   PLN           1          Польский злотый   19.1252     0.2114
 8   BYN           1        Белорусский рубль   29.5217    -0.0604
 9   UAH          10        Украинская гривна   26.9423     0.1320
 10  KGS         100           Киргизский сом   89.7958    -0.4938
 11  UZS       10000            Узбекский сум   70.2378    -0.2702
 12  AMD         100           Армянский драм   15.8679    -0.1021
 13  JPY         100            Японская иена   65.9246    -0.5536
 14  CHF           1        Швейцарский франк   82.4397    -0.3364
 15  CZK          10            Чешская крона   35.3635     0.0961
 16  CAD           1         Канадский доллар   59.8695    -0.1056
 17  AZN           1    Азербайджанский манат   44.8299    -0.2414
 18  KRW        1000     Вон Республики Корея   63.5890    -0.4583
 19  SEK          10           Шведская крона   81.8725     0.2730
 20  INR          10          Индийская рупия   10.0906    -0.0392
 21  HUF         100        Венгерский форинт   24.2718     0.0070
 22  AUD           1     Австралийский доллар   54.4358     0.0514
 23  NOK          10         Норвежская крона   86.0516     0.0766
 24  BGN           1           Болгарский лев   44.1516    -0.1839
 25  SGD           1      Сингапурский доллар   56.5785    -0.2541
 26  RON           1            Румынский лей   17.4677    -0.0603
 27  MDL          10           Молдавский лей   42.5508    -0.3490
 28  DKK           1            Датская крона   11.6027    -0.0508
 29  BRL           1         Бразильский реал   14.6041     0.0270
 30  ZAR          10     Южноафриканский рэнд   50.7422     0.3518
 31  XDR           1                      СДР  106.5768    -0.8037
 32  TMT           1  Новый туркменский манат   21.7928    -0.1174]