<a href="https://colab.research.google.com/github/Katrin0915/MyTraining/blob/main/Mod_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание к лекции «Исключения и обработка ошибок»

## Задание 1
### Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
####The Moscow Times - Wednesday, October 2, 2002
####The Guardian - Friday, 11.10.13
####Daily News - Thursday, 18 August 1977

In [ ]:
from datetime import datetime

In [ ]:
The_Moscow_Times = 'Wednesday, October 2, 2002'
new_datetime = datetime.strptime(The_Moscow_Times, '%A, %B %d, %Y')
new_datetime

datetime.datetime(2002, 10, 2, 0, 0)

In [ ]:
new_datetime.year

2002

In [ ]:
new_datetime.month

10

In [ ]:
new_datetime.day

2

In [ ]:
new_datetime.weekday()

2

In [ ]:
The_Guardian = 'Friday, 11.10.13'
new_datetime2 = datetime.strptime(The_Guardian, '%A, %d.%m.%y')
new_datetime2

datetime.datetime(2013, 10, 11, 0, 0)

In [ ]:
Daily_News = 'Thursday, 18 August 1977'
new_datetime3 = datetime.strptime(Daily_News, '%A, %d %B %Y')
new_datetime3

datetime.datetime(1977, 8, 18, 0, 0)

##Задание 2
###Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
####stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

###Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

def date_right(stream):
  '''
  проверка дат на корректность
  '''
  
  my_dict = {}
  for line in stream:
    try:
      new_line = datetime.strptime(line, '%Y-%m-%d')
      my_dict[line] = 'Date is True'
    except:
      my_dict[line] = 'Date is False'
  result = my_dict
  return result

date_right(stream)

{'2018-02-29': 'Date is False',
 '2018-04-02': 'Date is True',
 '2018-19-02': 'Date is False'}

##Задание 3
###Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
from datetime import datetime
from datetime import timedelta

In [ ]:
def date_range():
  '''
  возвращает список дат в некотором интервале
  '''

  start_date, end_date = input('Введите начальную дату: '), input('Введите конечную дату: ')
  
  #проверка дат на корректность ввода и сoответствия нужному формату
  
  stream = [start_date, end_date]
  counter = 0
  for line in stream:
    try:
      new_line = datetime.strptime(line, '%Y-%m-%d')
      counter += 1
    except:
      counter = 0
    
  if start_date > end_date or counter != 2:  # проверка условия: нач.дата должна быть меньше кон.даты и формат должен быть корректным
    result = []
  else:  # если все в порядке, выводим список дат
    my_list = []
    current_dt = datetime.strptime(start_date, '%Y-%m-%d')
    while current_dt.strftime('%Y-%m-%d') <= end_date:
      my_list.append(current_dt.strftime('%Y-%m-%d'))
      current_dt += timedelta(days=1)
      result = my_list
  return result

date_range()

Введите начальную дату: 2021-19-01
Введите конечную дату: 2021-01-01

[]

##Задание 4 (бонусное)
###Ваш коллега прислал код функции:

####DEFAULT_USER_COUNT = 3
####def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
####""“
####Удаляет из списка default_list последнего пользователя
####и возвращает ID нового последнего пользователя.
####”""
####element_to_delete = default_list[-1]
####default_list.remove(element_to_delete)
####1 return default_list[DEFAULT_USER_COUNT-2]

####При однократном вызове этой функции все работает корректно:
####delete_and_return_last_user(1)
####‘A101’

####Однако, при повторном вызове получается ошибка IndexError: list index out of range.

###Задание:

####1.Что значит ошибка list index out of range?
####2.Почему при первом запуске функция работает корректно, а при втором - нет?

In [ ]:
'''
 1. Индекс, к которому обращается функция при повторном запуске, не существует/ находится вне указанного интервала
 2. Ошибка в значении DEFAULT_USER_COUNT = 3
При первом запуске функция удалила последнего пользователя А102 и вернула значение текущего последнего пользователя А101
return default_list[DEFAULT_USER_COUNT-2] т.е return default_list[3-2]
DEFAULT_USER_COUNT нужно было присвоить новое значение = len(default_list)
Т.к этого не было сделано, при повторном запуске функция удаляет последнего пользователя А101 и пытается вернуть новое значение последнего пользователя
return default_list[3-2], которое только что удалила.
'''

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
  '''
  Удаляет из списка default_list последнего пользователя
  и возвращает ID нового последнего пользователя.
  '''
  DEFAULT_USER_COUNT = len(default_list)
  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)

  return default_list[DEFAULT_USER_COUNT-2]